.container {
  border: 1px solid red;
  display: flex;
  width: 400px;
}

.item {
  border: 1px solid black;
  font-size: 20px;
  /* flex-basis: 120px; */
}

.one {
  flex: 0 1 40%;
  order: 1;
}

.two {
  flex : 1 1 auto;
  order: 2;
}
.three
 {
  flex: 1 0 auto;
}